h1 {
    font-family:    Verdana;
    color:          cornflowerblue;
    text-align:     center;
}

#tools h3{
    font-family:    Verdana;
    text-align:     center;
}

html, body {
    width:          99%;
    height:         95%;
}

#color {
    width:          15%;
    margin-left:    4%;
    margin-bottom:  3%;
    float:          left;
}

#current-color {
    font-family:    Verdana;
    font-size:      85%;
    width:          60%;
    margin-left:    20%;
    margin-top:     50%;
    margin-bottom:  3%;
    text-align:     center;
}

#box-current{
    content:        "";
    padding-top:    50%;
    box-shadow:     0 0 5px #000000;
    border-radius:  3px;
}

#box {
    content:        "";
    padding-top:    100%;
    display:        block;
    box-shadow:     0 0 5px #000000;
    border-radius:  5px;
}

#sketch {
    height:         100%;
    width:          87%;
    float:          left;
    box-shadow:     0 0 5px #000000;
    border-radius:  7px;
}

#wrapper {
    height:         100%;
    width:          100%;
}

#tools {
    width:          12%;
    height:         100%;
    float:          right;
    border-radius:  7px;
    box-shadow:     0 0 5px #000000;
}

#custom-color {
    width:          60%;
    margin-left:    20%;
    border-radius:  10px;
    margin-top:     5px;
    text-align:     center;
}

#brush-size {
    width:          90%;
    margin-left:    4.5%;
}

#brush-size:before,
#brush-size:after {
    top:            1em;
    margin-top:     30px;
}

#brush-size:before {
    left:           3%;
    content:        attr(min);
}

#brush-size:after {
    right:          3%;
    content:        attr(max);
}

#sizeLabel {
    font-family:    Verdana;
    font-size:      85%;
    text-align:     center;
}

#brushWidthLabel {
    font-family:    Verdana;
    font-size:      85%;
    text-align:     center;
}
